body {background-color: rgb(225, 176, 52);}
.imge {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 400px;
    width:200px;
}
p,h1 {color: rgb(86, 50, 3);font-family: Georgia, 'Times New Roman', Times, serif;}